html, body, #root {
    margin: 0;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(white, gray);
}

a {
    color: blue;
}

.active {
    color: green;
    font-weight: bold;
}