.Layout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 15% 80% 5%;
    grid-template-columns: repeat(6, 1fr);
}

.Layout>header,
.Layout>footer {
    grid-column: span 6;
}

.Layout>main {
    grid-column: span 5;
    overflow: auto;
}

.Layout,
.Layout>* {
    border: 1px solid;
}