/* body {
    box-sizing: content-box;
} */

div {
    margin: 40px;
    /* margin-left: 15px;
    margin-top: 2px; */
    /* padding: 60px 30px 12px 6px; */
    /* padding: 60px 30px 12px; */
    /* padding: 60px 30px; */
    /* padding: 60px; */
    padding: 60px;
    border: 5px solid black;
    width: 200px;
    height: 100px;
    overflow: hidden;
    box-sizing: border-box;
}